In [3]:
from pathlib import Path
from xml.dom import minidom
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec

import SimpleITK as sitk

from tqdm import tqdm

import os
import shutil
import filecmp

from bs4 import BeautifulSoup

from landmarks_info import *

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:

all_landmarks = [set_vert, set_fins, set_digest, set_heart, set_eyes, set_skull_front, set_skull_center, set_skull_end, set_brain]

landmarks_pointset_names = [x['file_name'] for x in all_landmarks]

print(landmarks_pointset_names)

['pointset1_vert', 'pointset2_fins', 'pointset3_digest', 'pointset4_heart', 'pointset5_eyes', 'pointset6_skull_front', 'pointset7_skull_center', 'pointset8_skull_end', 'pointset9_brain']

# New (For eyes)

In [6]:
eval_path = Path('c:\\Users\\fe0968\\Documents\\Medaka\\')

df_v7 = pd.read_excel(eval_path /  'results_landmarks_v7.xlsx')
df_v8 = pd.read_excel(eval_path /  'results_landmarks_v8.xlsx')

In [11]:
df_v7 = df_v7.drop(['Unnamed: 0'], axis=1)
df_v8 = df_v8.drop(['Unnamed: 0'], axis=1)

In [12]:
df = pd.concat([df_v7,df_v8]).drop_duplicates(keep=False)
df

,sample,point_set,landmark,name,x,y,z
480,1149,pointset1_vert,Transition skull to spine,jb,288.882555,279.000010,1222.992043
481,1149,pointset1_vert,Vert1,jb,290.617749,246.243252,1250.000000
482,1149,pointset1_vert,Vert2,jb,294.061087,219.987799,1273.000000
483,1149,pointset1_vert,Vert3,jb,303.099850,198.036518,1299.000000
484,1149,pointset1_vert,Vert4,jb,301.378181,194.593179,1310.000000
...,...,...,...,...,...,...,...
23355,511,pointset9_brain,OT_rightmost,pw,173.000003,236.560874,654.491076
23356,511,pointset9_brain,OT_leftmost,pw,364.000005,236.560874,650.138201
23357,511,pointset9_brain,cerebellum,pw,274.262913,191.952753,706.000000
23358,511,pointset9_brain,OT cerebellum torus,pw,267.927534,203.061912,657.787682
23359,511,pointset9_brain,epiphysis,pw,268.170794,235.672668,570.000000

In [23]:
eyes_df = df_v8[(df_v8['point_set'] == 'pointset5_eyes') & (df_v8['name'] == 'ast')]
#tom_df = df_v8[(df_v8['point_set'] == 'pointset5_eyes')]
#len(eyes_df['sample'].unique())
eyes_df

,sample,point_set,landmark,name,x,y,z
7566,601,pointset5_eyes,optic nerve head 1_right,ast,234.586632,364.000011,542.521830
7567,601,pointset5_eyes,optic nerve head 2_left,ast,372.772029,359.000011,540.389339
7568,601,pointset5_eyes,optic chiasm_crossing,ast,305.932374,339.000011,559.767418
7569,601,pointset5_eyes,most_anterior_right,ast,186.000000,352.218376,453.160972
7570,601,pointset5_eyes,most_anterior_left,ast,420.000000,345.692774,454.896888
...,...,...,...,...,...,...,...
11114,974,pointset5_eyes,most_posterior_left,ast,335.358292,336.000008,301.377929
11115,974,pointset5_eyes,most_dorsal_right,ast,133.696777,269.593773,221.000000
11116,974,pointset5_eyes,most_dorsal_left,ast,328.591408,269.996076,232.270249
11117,974,pointset5_eyes,most_ventral_right,ast,143.468653,390.927896,229.000000
11118,974,pointset5_eyes,most_ventral_left,ast,310.133421,393.642306,229.000000

In [26]:
eyes_df.to_excel(eval_path / 'evaluation' / 'v9_eyes'  / 'eval_pointset5_eyes_v9_ast_without_thomas.xlsx')

# Old

In [36]:
eval_path = Path('c:\\Users\\fe0968\\Documents\\Medaka\\evaluation\\')

df_v7 = pd.read_excel(eval_path / 'v7' / 'eval_pointset9_brain.xlsx')
df_v8 = pd.read_excel(eval_path / 'v8' / 'eval_pointset9_brain_v8.xlsx')

In [31]:
df_v7

,Unnamed: 0,sample,point_set,landmark,name1,name2,result
0,0,1248,pointset9_brain,hypophysis,cs,rs,5.919598
1,1,1248,pointset9_brain,olfactoryN_right,cs,rs,0.000000
2,2,1248,pointset9_brain,olfactoryN_left,cs,rs,0.000000
3,3,1248,pointset9_brain,glomerulosus_R,cs,rs,2.518606
4,4,1248,pointset9_brain,glomerulosus_L,cs,rs,0.864444
...,...,...,...,...,...,...,...
675,675,1226,pointset9_brain,OT_rightmost,cs,rs,15.707891
676,676,1226,pointset9_brain,OT_leftmost,cs,rs,9.173041
677,677,1226,pointset9_brain,cerebellum,cs,rs,12.299239
678,678,1226,pointset9_brain,OT cerebellum torus,cs,rs,5.187814
679,679,1226,pointset9_brain,epiphysis,cs,rs,0.372363

In [32]:
df_v8

,Unnamed: 0,sample,point_set,landmark,name1,name2,result
0,0,526,pointset9_brain,hypophysis,ca,pw,6.250938
1,1,526,pointset9_brain,olfactoryN_right,ca,pw,1.733112
2,2,526,pointset9_brain,olfactoryN_left,ca,pw,5.500942
3,3,526,pointset9_brain,glomerulosus_R,ca,pw,1.619890
4,4,526,pointset9_brain,glomerulosus_L,ca,pw,4.154976
...,...,...,...,...,...,...,...
2185,2185,511,pointset9_brain,OT_rightmost,ca,pw,4.431650
2186,2186,511,pointset9_brain,OT_leftmost,ca,pw,8.027395
2187,2187,511,pointset9_brain,cerebellum,ca,pw,1.163543
2188,2188,511,pointset9_brain,OT cerebellum torus,ca,pw,3.277326
2189,2189,511,pointset9_brain,epiphysis,ca,pw,4.180443

## Make a difference between two versions of results (old and new)

In [33]:
df_v7 = df_v7.drop(['Unnamed: 0'], axis=1)
df_v8 = df_v8.drop(['Unnamed: 0'], axis=1)

In [35]:
df = pd.concat([df_v7,df_v8]).drop_duplicates(keep=False)
df

      sample        point_set             landmark name1 name2    result
0        526  pointset9_brain           hypophysis    ca    pw  6.250938
1        526  pointset9_brain     olfactoryN_right    ca    pw  1.733112
2        526  pointset9_brain      olfactoryN_left    ca    pw  5.500942
3        526  pointset9_brain       glomerulosus_R    ca    pw  1.619890
4        526  pointset9_brain       glomerulosus_L    ca    pw  4.154976
...      ...              ...                  ...   ...   ...       ...
2185     511  pointset9_brain         OT_rightmost    ca    pw  4.431650
2186     511  pointset9_brain          OT_leftmost    ca    pw  8.027395
2187     511  pointset9_brain           cerebellum    ca    pw  1.163543
2188     511  pointset9_brain  OT cerebellum torus    ca    pw  3.277326
2189     511  pointset9_brain            epiphysis    ca    pw  4.180443

[1510 rows x 6 columns]

## Process all

In [44]:
for i in range(len(all_landmarks)):
    
    
    n = all_landmarks[i]['file_name']
    print('Processing:', n)
    
    df_old = pd.read_excel(eval_path / 'v7' / f'eval_{n}.xlsx')
    df_new = pd.read_excel(eval_path / 'v8' / f'eval_{n}_v8.xlsx')
    
    df_old = df_old.drop(['Unnamed: 0'], axis=1)
    df_new = df_new.drop(['Unnamed: 0'], axis=1)
    
    df_diff = pd.concat([df_old,df_new]).drop_duplicates(keep=False)
    
    df_diff.to_excel(eval_path / 'diff_v7_v8' / f'eval_{n}_diff_v7_v8.xlsx')

Processing: pointset1_vert  NEW: 72
Processing: pointset2_fins  NEW: 164
Processing: pointset3_digest  NEW: 220
Processing: pointset4_heart  NEW: 440
Processing: pointset5_eyes  NEW: 0
Processing: pointset6_skull_front  NEW: 240
Processing: pointset7_skull_center  NEW: 246
Processing: pointset8_skull_end  NEW: 240
Processing: pointset9_brain  NEW: 1510

## Read manual correction to make Filtered landmarks

In [4]:
from openpyxl import load_workbook

In [5]:
def get_landmark(df, sample, user, landmark_name):
    res = df[(df['sample'] == sample) & (df['name'] == user) & (df['landmark'] == landmark_name)]
    if (len(res) > 1):
        print('Error: duplicates')
        print(res)
  
    if (len(res) == 0):
        print('Error: No such data in the results')
        print(sample)
        print(user)
        print(landmark_name)
        
    #x = round(res.iloc[0]['x'],2)
    #y = round(res.iloc[0]['y'],2)
    #z = round(res.iloc[0]['z'],2)
    
    x = res.iloc[0]['x']
    y = res.iloc[0]['y']
    z = res.iloc[0]['z']
        
    return x,y,z

In [6]:
evaluation_path = Path('c:\\Users\\fe0968\\Documents\\data\\medaka\\landmarks\\evaluation_vis\\')
results_path = Path('c:\\Users\\fe0968\\Documents\\Medaka\\')

folder_v7 = 'by_landmark_centered'
folder_diff_v7_v8 = 'by_landmark_centered_diff_v7_v8'

In [7]:
res_df = pd.read_excel(results_path / 'results_landmarks_v8.xlsx')

In [35]:
res_df = res_df.drop(['Unnamed: 0'], axis=1)
res_df.dtypes

sample         int64
point_set     object
landmark      object
name          object
x            float64
y            float64
z            float64
dtype: object

In [36]:
res_df

,sample,point_set,landmark,name,x,y,z
0,526,pointset1_vert,Transition skull to spine,kp,293.000000,282.826248,955.343394
1,526,pointset1_vert,Vert1,kp,289.983033,251.199781,986.170074
2,526,pointset1_vert,Vert2,kp,293.638389,233.759151,1013.763606
3,526,pointset1_vert,Vert3,kp,294.000000,226.785634,1050.797902
4,526,pointset1_vert,Vert4,kp,296.621422,223.064777,1095.812249
...,...,...,...,...,...,...,...
23355,511,pointset9_brain,OT_rightmost,pw,173.000003,236.560874,654.491076
23356,511,pointset9_brain,OT_leftmost,pw,364.000005,236.560874,650.138201
23357,511,pointset9_brain,cerebellum,pw,274.262913,191.952753,706.000000
23358,511,pointset9_brain,OT cerebellum torus,pw,267.927534,203.061912,657.787682
23359,511,pointset9_brain,epiphysis,pw,268.170794,235.672668,570.000000

In [103]:
res_df = res_df.drop_duplicates()
print('After dropping duplicates:',len(res_df))

After dropping duplicates: 23341

In [105]:
def process_evaluation_files(folder, file_postfix):

    for pointset in all_landmarks:

        pointset_name = pointset['name'] 

        #print(pointset['file_name'])

        for land in pointset['landmarks']:

            i = str(pointset['landmarks'].index(land)).zfill(2)

            file_name = f'{i}_{land}{file_postfix}.xlsx' 
            #print(file_name)

            path = evaluation_path / folder / pointset['file_name'] / file_name

            if not Path.exists(path):
                continue

            # Open Excel stats file
            wb = load_workbook(path)
            ws = wb.active

            # Select name fields
            if ws['F1'].value == 'name1' and ws['G1'].value == 'name2':
                name1_selector = 'F'
                name2_selector = 'G'
                sample_selector = 'C'
            elif ws['D1'].value == 'name1' and ws['E1'].value == 'name2':
                name1_selector = 'D'
                name2_selector = 'E'
                sample_selector = 'A'
            else:
                print('Error with data columns')


            cells_count = len(ws[name1_selector])


            # For all cells in a column
            for i in range(1, cells_count):

                drop_user1 = False
                drop_user2 = False
                variance = -1

                if ws[f'{name1_selector}{i+1}'].font.color != None:
                    if ws[f'{name1_selector}{i+1}'].font.color.rgb == 'FFFF0000':
                        drop_user1 = True
                        #print(ws[f'{name1}{i+1}'].value)
                if ws[f'{name2_selector}{i+1}'].font.color != None:
                    if ws[f'{name2_selector}{i+1}'].font.color.rgb == 'FFFF0000':
                        drop_user2 = True

                name1 = ws[f'{name1_selector}{i+1}'].value
                name2 = ws[f'{name2_selector}{i+1}'].value
                sample = ws[f'{sample_selector}{i+1}'].value
                
                # Drop both
                if drop_user1 and drop_user2:
                    continue                

                if not drop_user1 and drop_user2:     
                    x,y,z = get_landmark(res_df, sample, name1, land)
                    variance = -1
                    #print('Drop', name2)

                if drop_user1 and not drop_user2:     
                    x,y,z = get_landmark(res_df, sample, name2, land)
                    variance = -1
                    #print('Drop', name1)

                # Average both landmarks
                if not drop_user1 and not drop_user2:     
                    x1,y1,z1 = get_landmark(res_df, sample, name1, land)
                    x2,y2,z2 = get_landmark(res_df, sample, name2, land)

                    x = (x1 + x2) / 2.0
                    y = (y1 + y2) / 2.0
                    z = (z1 + z2) / 2.0

                    variance = round(get_distance([x1,y1,z1], [x2,y2,z2]), 2)
                    #print(variance)

                sample_list.append(sample)
                pointset_list.append(pointset_name)
                landmark_list.append(land)
                x_list.append(round(x,2))
                y_list.append(round(y,2))
                z_list.append(round(z,2))
                var_list.append(round(variance,2))

In [112]:
sample_list = []
pointset_list = []
landmark_list = []
x_list = []
y_list = []
z_list = []
var_list = []

process_evaluation_files(folder_v7, '')
process_evaluation_files(folder_diff_v7_v8, '_diff_v7_v8')
print('Finished')

Finished

In [113]:
data = {
            'group': pointset_list,
            'landmark': landmark_list,
            'sample': sample_list,
            'x': x_list,      
            'y': y_list,
            'z': z_list,
            'var': var_list
           }

res_filtered_df = pd.DataFrame(data)

In [120]:
res_filtered_df = res_filtered_df.drop_duplicates()
res_filtered_df

,group,landmark,sample,x,y,z,var
0,Vert,Transition skull to spine,720,271.00,265.83,1195.91,-1.00
1,Vert,Transition skull to spine,1391,257.65,231.66,428.00,-1.00
2,Vert,Transition skull to spine,471,350.00,324.92,1070.82,-1.00
3,Vert,Transition skull to spine,470,356.00,318.80,1122.67,-1.00
4,Vert,Transition skull to spine,871,313.98,326.96,546.63,13.40
...,...,...,...,...,...,...,...
11074,Brain,epiphysis,685,239.10,244.52,715.88,0.48
11075,Brain,epiphysis,1380,254.79,190.15,200.89,0.48
11076,Brain,epiphysis,1230,288.39,254.39,450.33,0.34
11077,Brain,epiphysis,834,271.89,357.99,292.88,0.32
11078,Brain,epiphysis,1184,286.00,240.24,441.03,0.14

## Check duplicates

In [121]:
res_filtered_df[res_filtered_df.duplicated()]

Empty DataFrame
Columns: [group, landmark, sample, x, y, z, var]
Index: []

In [130]:
## Delete selected landmarks

# 1. Landmarks
delete_list_land = ['Vert_Last_Center', 'Vert4', 'Vert5']
for d in delete_list_land:
    res_filtered_df = res_filtered_df.drop(res_filtered_df[res_filtered_df.landmark == d].index)

In [131]:
# 1. Samples
delete_list_samples = [421, 1378]
for d in delete_list_samples:
    res_filtered_df = res_filtered_df.drop(res_filtered_df[res_filtered_df['sample']== d].index)

## Save final results

In [134]:
res_filtered_df.to_excel('results_filtered_table.xlsx')

## Make statistics

In [133]:
pointset_list = []
land_list = []
count_list = []
mean_list = []
std_list = []
max_list = []

for pointset in all_landmarks:

        pointset_name = pointset['name'] 
        #print('-----------------------')
        #print(pointset_name)
        #print('-----------------------')

        #print(pointset['file_name'])

        for land in pointset['landmarks']:
            
            land_res = res_filtered_df[res_filtered_df['landmark'] == land]
            stat_count = len(land_res)
            
            land_res_pairs = land_res[land_res['var'] > 0] 
            m = land_res_pairs.loc[:, 'var'].mean()
            s = land_res_pairs.loc[:, 'var'].std()
            mx = land_res_pairs.loc[:, 'var'].max()
            
            pointset_list.append(pointset_name)
            land_list.append(land)
            count_list.append(stat_count)
            mean_list.append(m)
            std_list.append(s)
            max_list.append(mx)
            
            
            #print(f'{land}. count: {stat_count}, mean: {round(m,1)}, std: {round(s,1)}')
            
data = {
            'group': pointset_list,
            'landmark': land_list,
            'count': count_list,
            'mean': mean_list,      
            'std': std_list,
            'max': max_list
           }

stat_df = pd.DataFrame(data).sort_values('mean', ascending=False)

for d in delete_list_land:
    stat_df = stat_df.drop(stat_df[stat_df.landmark == d].index)

stat_df.to_excel('results_filtered_stat.xlsx')
stat_df

,group,landmark,count,mean,std,max
10,Fins,Abdominal_fins back 2_left,215,15.927644,7.535870,35.78
8,Fins,Pectoral_dorsal most breast fin to body connec...,212,15.853536,7.951105,34.71
9,Fins,Abdominal_fins back 1_right,212,15.342126,6.739102,31.20
7,Fins,Pectoral_dorsal most breast fin to body connec...,212,14.455196,7.843445,33.94
14,Heart,sinus venosus,214,9.387030,6.304969,35.66
12,Digest,esophagus,211,8.256219,5.371706,28.48
51,Brain,OT_leftmost,217,7.976085,5.667087,30.40
32,Skull Front,upper jaw channel,190,7.957423,6.525080,28.25
50,Brain,OT_rightmost,217,7.259100,5.468593,28.41
15,Heart,apex of ventricle,198,7.155459,6.725583,37.31
18,Eyes,optic nerve head 2_left,175,5.897011,3.275621,12.99
53,Brain,OT cerebellum torus,216,5.807630,3.158081,16.11
17,Eyes,optic nerve head 1_right,175,5.779828,3.069278,12.45
22,Eyes,most_posterior_right,173,5.702321,6.347562,41.19
35,Skull Center,hyoid between branchial arches,203,5.594483,3.314790,20.59
11,Digest,anus_Center,209,5.556200,4.766685,22.00
34,Skull Center,subhypophysis bone,205,5.482808,3.769561,22.00
23,Eyes,most_posterior_left,174,5.266509,6.388609,46.04
27,Eyes,most_ventral_left,176,5.194253,6.964020,42.77
52,Brain,cerebellum,217,5.175142,3.648511,25.16
40,Skull End,skull landmark A right,213,5.171361,3.289448,13.91
24,Eyes,most_dorsal_right,176,5.049128,6.776098,42.51
26,Eyes,most_ventral_right,176,4.958506,5.758721,37.31
41,Skull End,skull landmark A left,215,4.861263,3.141161,16.38
30,Skull Front,mandible dentary,168,4.758627,3.335884,17.98
25,Eyes,most_dorsal_left,176,4.709942,5.971227,43.97
0,Vert,Transition skull to spine,208,4.641084,2.750509,13.40
13,Heart,tip of bulbus arteriosus vessel inside,215,4.579907,2.878232,17.32
20,Eyes,most_anterior_right,173,4.346279,6.587649,47.18
19,Eyes,optic chiasm_crossing,176,4.321429,2.789820,23.01
21,Eyes,most_anterior_left,173,4.189825,6.698022,42.87
31,Skull Front,tongue tip,185,3.918389,2.850764,14.67
45,Brain,hypophysis,217,3.916419,3.034579,20.62
42,Skull End,fusion of epibranchial artery 2,212,3.701574,3.339603,22.43
47,Brain,olfactoryN_left,213,3.593264,3.120683,15.14
43,Skull End,center of utricle right,214,3.468502,2.435670,11.35
46,Brain,olfactoryN_right,213,3.377812,2.863350,14.38
16,Heart,anterior most point of ventricle,215,3.312710,3.479770,23.09
44,Skull End,center of utricle left,218,3.060193,2.248503,13.63
37,Skull Center,split of afferent branchial artery 2,215,2.919617,1.469845,12.23
36,Skull Center,split of afferent branchial artery 1,215,2.766938,1.638402,11.12
48,Brain,glomerulosus_R,217,2.591308,1.405564,7.27
33,Skull Front,hyoid fusion,214,2.467791,1.797271,12.51
39,Skull Center,gills bone left,216,2.426198,2.327367,10.54
49,Brain,glomerulosus_L,217,2.416215,1.396238,8.69
29,Skull Front,dorsal side of nostril outlet left,205,2.189195,1.625635,12.81
54,Brain,epiphysis,217,1.988698,1.314036,9.07
28,Skull Front,dorsal side of nostril outlet right,207,1.948539,1.146838,6.75
38,Skull Center,gills bone right,217,1.902286,1.632194,13.44
3,Vert,Vert3,203,1.828291,1.412177,10.04
2,Vert,Vert2,204,1.796667,1.517795,16.26
1,Vert,Vert1,206,1.690000,1.102715,8.69

## ------------------ TESTING -----------------------------

In [92]:
wb = load_workbook('03_tongue tip.xlsx')
ws = wb.active

# Select name fields
if ws['F1'].value == 'name1' and ws['G1'].value == 'name2':
    name1_selector = 'F'
    name2_selector = 'G'
    sample_selector = 'C'
elif ws['D1'].value == 'name1' and ws['E1'].value == 'name2':
    name1_selector = 'D'
    name2_selector = 'E'
    sample_selector = 'A'
else:
    print('Error with data columns')
    
print(sample_selector, name1_selector, name2_selector)

A D E

In [112]:
cells_count = len(ws[name1_selector])


# For all cells in a column
for i in range(1, cells_count):
    
    drop_user1 = False
    drop_user2 = False
    variance = -1
    
    if ws[f'{name1_selector}{i+1}'].font.color != None:
        if ws[f'{name1_selector}{i+1}'].font.color.rgb == 'FFFF0000':
            drop_user1 = True
            #print(ws[f'{name1}{i+1}'].value)
    if ws[f'{name2_selector}{i+1}'].font.color != None:
        if ws[f'{name2_selector}{i+1}'].font.color.rgb == 'FFFF0000':
            drop_user2 = True
            
    name1 = ws[f'{name1_selector}{i+1}'].value
    name2 = ws[f'{name2_selector}{i+1}'].value
    sample = ws[f'{sample_selector}{i+1}'].value
            
    if not drop_user1 and drop_user2:     
        x,y,z = get_landmark(res_df, sample, name1, 'tongue tip')
        variance = -1
        #print('Drop', name2)
        
    if drop_user1 and not drop_user2:     
        x,y,z = get_landmark(res_df, sample, name2, 'tongue tip')
        variance = -1
        #print('Drop', name1)
        
    if not drop_user1 and not drop_user2:     
        x1,y1,z1 = get_landmark(res_df, sample, name1, 'tongue tip')
        x2,y2,z2 = get_landmark(res_df, sample, name2, 'tongue tip')
        
        x = (x1 + x2) / 2.0
        y = (y1 + y2) / 2.0
        z = (z1 + z2) / 2.0
        
        variance = round(get_distance([x1,y1,z1], [x2,y2,z2]), 2)
        #print(variance)

Empty DataFrame
Columns: [sample, point_set, landmark, name, x, y, z]
Index: []

In [50]:
pointset = all_landmarks[4]
print(pointset)

{'name': 'Eyes', 'file_name': 'pointset5_eyes', 'landmarks': ['optic nerve head 1_right', 'optic nerve head 2_left', 'optic chiasm_crossing', 'most_anterior_right', 'most_anterior_left', 'most_posterior_right', 'most_posterior_left', 'most_dorsal_right', 'most_dorsal_left', 'most_ventral_right', 'most_ventral_left']}

In [ ]:
data = {'sample': sample_list,
           'point_set': pointset_list,
            'landmark': landmark_list,
            'name': user_list,
            'x': x_list,      
            'y': y_list,
            'z': z_list,
           }

    res_df = pd.DataFrame(data)
    
    if save:
        res_df.to_excel(file_name)