In [1]:
import numpy as np
import matplotlib.pyplot as plt 

import cv2
from PIL import Image

import pandas as pd

from pathlib import Path

import multiprocessing as mp

In [2]:
path = Path('z:\\tomo\\ershov\\medaka\\')

In [3]:
df = pd.read_excel(open(path / 'evaluation_segmentation.xlsx', 'rb'), sheet_name='all')

In [4]:
df

     line            dataset  Landmarks  Rating Unnamed: 4
0     NaN    Medaka_817_10-1        NaN  failed        NaN
1     NaN    Medaka_818_10-1        1.0     bad        NaN
2     NaN    Medaka_819_10-1        1.0    good        NaN
3     NaN    Medaka_820_10-1        1.0  failed        NaN
4     NaN  Medaka_1279_104-1        NaN     bad        NaN
..    ...                ...        ...     ...        ...
352   NaN   Medaka_1227_75-1        2.0     bad        NaN
353   NaN   Medaka_1248_84-2        2.0    norm        NaN
354   NaN   Medaka_1256_84-2        2.0    norm        NaN
355   NaN   Medaka_1257_84-2        2.0    norm        NaN
356   NaN  Medaka_1310_131-4        2.0    norm        NaN

[357 rows x 5 columns]

In [5]:
datasets = df['dataset'].tolist()

## Make list for ImageJ

In [6]:
for d in datasets:
    print(f"\"{d}\",")

"Medaka_1300_131-4",
"Medaka_1305_131-4",
"Medaka_1320_106-2",
"Medaka_1321_106-2",
"Medaka_1323_106-2",
"Medaka_1338_110-2",
"Medaka_1346_117-1",
"Medaka_1351_117-1",
"Medaka_1353_117-1",
"Medaka_1362_117-2",
"Medaka_1363_117-2",
"Medaka_1366_117-2",
"Medaka_1369_129-1",
"Medaka_1370_129-1",
"Medaka_1372_129-1",
"Medaka_1376_132-4",
"Medaka_1378_132-4",
"Medaka_1380_132-4",
"Medaka_1383_134-1",
"Medaka_1384_134-1",
"Medaka_1385_134-1",
"Medaka_1389_135-1",
"Medaka_1391_135-1",
"Medaka_1393_135-1",
"Medaka_1394_135-2",
"Medaka_1395_135-2",
"Medaka_1396_135-2",
"Medaka_1399_137-4",
"Medaka_1400_137-4",
"Medaka_1401_137-4",
"Medaka_1404_138-1",
"Medaka_1405_138-1",
"Medaka_1406_138-1",
"Medaka_1412_139-4",
"Medaka_1413_139-4",
"Medaka_1414_139-4",
"Medaka_1417_140-3",
"Medaka_1418_140-3",
"Medaka_1423_140-3",

In [ ]:
def my_funct(x):
    print(x**x)
         
pool = mp.Pool(4)
res = pool.map(my_funct, [1,2,3])

In [ ]:
## Extract line numbers

In [7]:
for d in datasets:
    print(f"{d.split('_')[2]}")

10-1
10-1
10-1
10-1
104-1
104-1
104-1
104-1
104-1
104-1
106-1
106-1
106-1
106-1
11-2
11-2
11-2
11-2
11-2
11-2
11-2
11-2
11-2
131-2
131-2
131-2
13-2
13-2
13-2
13-2
13-2
13-2
13-2
14-1
14-1
14-1
14-1
14-2
14-2
14-2
14-2
14-2
14-2
14-2
15-1
15-1
15-1
15-1
15-1
15-1
17-1
17-1
17-1
17-1
17-1
17-1
17-1
20-1
20-1
20-1
20-1
20-1
20-1
22-1
22-1
22-1
22-1
22-1
22-1
22-1b
23-2
23-2
23-2
23-2
23-2
23-2
23-2
23-2
25-1
25-1
25-1
25-1
25-1
25-1
32-2
32-2
32-2
32-2
32-2
32-2
33-1
33-1
33-1
33-1
33-1
33-1
33-1
33-1
38-2
38-2
38-2
38-2
38-2
38-2
38-2
38-2
39-1
39-1
39-1
39-1
39-1
39-1
39-1
40-1
40-1
40-1
40-1
40-1
40-1
40-1
40-1
40-1
40-2
40-2
40-2
40-2
40-2
40-2
40-2
4-1
4-1
4-1
4-1
4-1
4-1
4-1
4-2
4-2
4-2
4-2
43-2
43-2
43-2
43-2
43-2
43-2
43-2
43-2
43-2
43-2
47-1
47-1
47-1
47-1
47-1
47-1
47-1
47-1
53-2
53-2
53-2
53-2
53-2
53-2
53-2
53-2
53-2
53-2
53-2
55-2
55-2
55-2
55-2
55-2
55-2
55-2
59-1
59-1
59-1
59-1
59-1
59-1
59-1
60-1
60-1
60-1
60-1
60-1
61-1
61-1
61-1
62-2
62-2
62-2
62-2
62-2
62-2
68-1
68-1
68-1
68-1
69-2
69-2
69-2
69-2
70-2
70-2
70-2
70-2
70-2
70-2
70-2
70-2
70-2
71-1
71-1
71-1
71-1
7-2
7-2
7-2
7-2
7-2
7-2
7-2
7-2
75-1
75-1
79-2
79-2
79-2
79-2
79-2
79-2
8-2
8-2
8-2
8-2
8-2
8-2
84-2
84-2
84-2
84-2
84-2
84-2
84-2
94-1
94-1
94-1
94-1
94-1
94-1
95-1
95-1
95-1
95-1
95-1
95-1
131-4
131-4
131-4
131-4
131-4
14-2
14-2
14-2
14-2
106-2
106-2
106-2
106-2
106-2
110-2
110-2
110-2
110-2
110-2
110-2
110-2
117-1
117-1
117-1
117-1
117-1
117-1
117-1
117-2
117-2
117-2
117-2
117-2
117-2
129-1
129-1
129-1
129-1
129-1
129-1
132-4
132-4
132-4
132-4
132-4
132-4
134-1
134-1
134-1
134-1
134-1
134-1
135-1
135-1
135-1
135-1
135-1
135-1
135-2
135-2
135-2
135-2
135-2
137-4
137-4
137-4
137-4
137-4
138-1
138-1
138-1
138-1
138-1
138-1
139-4
139-4
139-4
139-4
139-4
140-3
140-3
140-3
140-3
140-3
140-3
140-3
140-3
110-2
110-2
14-2
14-2
71-1
75-1
75-1
84-2
84-2
84-2
131-4

In [10]:
path_datasets_list = Path("c:\\Users\\fe0968\\Documents\\data\\medaka\\landmarks\\")

f = open(path_datasets_list / 'datasets_201905.txt', 'r')
datasets_201905 = f.readlines()
f.close()

In [15]:
[int(x.split('_')[1]) for x in datasets_201905]

[800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 895,
 897,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 974,
 975,
 976,
 977,
 978,
 979]